h1, h2, h3, p, a {
    font-family: Verdana;
    color: white;
}

body {
  background-color: #000000;
  text-align: center;
}
h1 {
    
    font-size: 50px;
    font-weight: normal;
}

p {
  font-size: 21px;
  color: gray;
}

.download, a {
    font-size: 16px;
    color:aquamarine;
}

#travelguide, h2 {
    font-weight: 300;
    font-size: 42px;
}

footer {
    text-align: right;
}

